*.log
*.tmp

[Bb]in/
[Ob]j/

.vs/
*.user
*.userosscache
*.sln.docstates
*.suo

project.assets.json
*.nuget.g.props
*.nuget.g.targets
project.nuget.cache

*_wpftmp.csproj
*_wpftmp.csproj.user

Resources/Icons/logo.png

Thumbs.db
Desktop.ini